* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul {
  margin: 0;
  list-style-type: none;
}

/* Main - Start */
main, footer {
  text-align: center;
}

main {
  background-color: #EEE;
  padding: 0.5rem 0;
}

main p {
  margin: 0;
}

form#search input[type=text] {
  display: block;
  width: 20%;
  margin: 0 auto;
}
/* Main - End */

/* Footer - Start */
footer section {
  display: flex;
}

footer section p {
  margin: 0;
}

footer div:first-of-type,
footer div:last-of-type {
  width: 40%;
}

footer div:first-of-type {
  background-color: #7ee5da;
  padding: 0.5rem;
}

footer div:nth-of-type(2) {
  width: 20%;
  background-color: #70ccc2;
  padding: 0.15rem;
}

footer div:last-of-type {
  background-color: #62b3aa;
}

footer form input[type=text] {
  display: block;
  width: 40%;
  margin: 0 auto;
}
/* Footer - End */